*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}
.title{
    width: 100%;
    margin-bottom: 1%;
    border-bottom: 2%;
    border-bottom-style: solid;
    border-bottom-color: rgba(197, 197, 197, 0.536);
    padding-bottom: 1%;
    padding-top: 1%;
    margin-left: 1%;
}
.title h1{
    font-weight: 700;
}
.profile{
    width: 100%;
    display: flex;
    align-items: center;
}
.text{
    width: 90%;
}
.profile .text h2{
    font-size: 300%;
    font-weight:600;
}
.profile .text p{
    font-size: 150%;
    font-weight:500;
    padding-left: 1%;
}
.profile img{
    width: 10%;
    height: auto;
    margin-left: 1%;
}