* {
    margin: 0;
    padding: 0;
    font-family: "Poppins";
}

.Main {
    width: 100%;
    height: 100%;
    align-content: center;
    display: flex;
}

.Menu {
    width: 20%;
    background-color: #363740;
    align-items: start;
}

.logo {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 50%;
    height: auto;
}

.display2 {
    padding-left: 0;
    align-items: center;
    width: 80%;
}

h2 {
    padding-left: 1%;
}

.Profile {
    width: 100%;
    background-color: white;
    display: flex;
    height: 100px;
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    justify-content: end;
    padding-top: 1%;
    border-color: rgba(255, 24, 24, 0);
    border-style: solid;
}

h3 {
    text-align: end;
    margin-right: 2%;
    width: 100%;
}

strong {
    font-size: 80%;
}

.badge {
    background-color: rgba(192, 192, 192, 0);
    border-radius: 25px;
    color: white;
    font-weight: normal;
}

i img {
    height: 25px;
    width: auto;
    border-radius: 0;
}

.user {
    width: 50px;
    height: 50px;
    margin-left: 1%;
    border-radius: 50%;
}

.nav .nav-item a img {
    width: 25px;
    height: 25px;
    margin-right: 5%;
    margin-left: 1%;
}

.nav .nav-item a {
    text-align: start;
    font-size: 25px;
    font-weight: bold;
}

.nav .nav-item button {
    justify-self: left;
    font-size: 25px;
    font-weight: bold;
    background-color: rgba(192, 192, 192, 0);
    border-style: none;
    color: #a06442;
}

.nav {
    height: 40%;
}

.nav .nav-item {
    width: 100%;
    align-items: flex-start;
}

.nav .nav-item .nav-link {
    color: #a06442;
    margin-top: 1%;
}

.nav .nav-item .nav-link.active {
    background-color: #3f4049;
    border-left: 4px solid;
    color: #a06442;
}

.display2 {
    width: 80%;
}

.content {
    margin-top: 2%;
    width: 100%;
}

.card-text {
    text-align: center;
}

.nav .nav-item.logout {
    display: inline-block;
    vertical-align: bottom;
    color: #a06442;
}

.submenu {
    height: 90%;
    width: 100%;
}

.logoutbtn {
    width: 100%;
    height: 10%;
    position: relative;
    bottom: 0;
}